/* General styles for the results page */
.results-page {
    font-family: Arial, sans-serif;
    padding: 20px;
   margin-left: 400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .results-page h1 {
    color: #333;
  }
  
  .results-page .result-block {
    background-color: rgb(141, 27, 27);
    border: 1px solid #ddd;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .results-page .result-block p {
    margin: 5px 0;
  }
  
  .results-page .result-block .correct {
    color: green;
  }
  
  .results-page .result-block .incorrect {
    color: red;
  }
  
  .results-page .button-container {
    margin-top: 20px;
  }
  
  .results-page button {
    background-color: #4caf50; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .results-page button:hover {
    background-color: #45a049; /* Darker green */
  }
  